[package]
name = "rush"
version = "0.3.1"
edition = "2021"

[build]
rustflags=["-C prefer-dynamic"]

[profile.release]
strip = true
debug = false

[source.crates-io]
replace-with = "vendored-sources"

[source.vendored-sources]
directory = "vendor"

[dependencies]
libc = "*"
rand = "0.8.4"
signal-hook = "*"
confy = "*"
serde = "*"
serde_derive = "*"

[dependencies.carrot_libs]
path = "../carrot-libs"

# Quick note for future me - SETENV and GETENV are NOT MEANT to be binaries!
# NEVER EVER try to add them here!

[[bin]]
name = "cmp"
path = "src/cmp.rs"

[[bin]]
name = "rush"
path = "src/rush.rs"

[[bin]]
name = "sleep"
path = "src/sleep.rs"

[[bin]]
name = "if"
path = "src/test.rs"
